

<style type="text/css" media="screen">

html,body{
	margin:0;
	padding:0;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header{
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	background-color: #959694;
	z-index: 1;
} 	

.header .header_company{
	position:relative;
	margin:0px;
	padding:0px;
	width:20%;
	float:left;
	left:5%;
	height:100%;
	background-color: #E1F3FF;
	text-align: center;
    
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;
}

.header .header_company:hover{
	position:relative;
	margin:0px;
	padding:0px;
	width:20%;
	float:left;
	left:5%;
	height:100%;
	background-color: #4BB4FB;
	text-align: center;
    
    transition: .20s linear;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;
}


.header .header_home{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #E1F3FF;
	text-align: center;
    line-height: 50px;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);

}

.header .header_home:hover{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #4BB4FB;
	text-align: center;

     transition: .20s linear;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;

}

.header .header_about{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #E1F3FF;
	text-align: center;
    line-height: 50px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);

}

.header .header_about:hover{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #4BB4FB;
	text-align: center;
 

    transition: .20s linear;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;

}


.header .header_profolio{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #E1F3FF;
	text-align: center;
    line-height: 50px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.header .header_profolio:hover{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #4BB4FB;
	text-align: center;

    transition: .20s linear;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;
}


.header .header_contact{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #E1F3FF;
	text-align: center;
    line-height: 50px;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.header .header_contact:hover{
	position:relative;
	margin:0px;
	padding:0px;
	width:6%;
	float:left;
	left:45%;
	height:100%;
	background-color: #4BB4FB;
	text-align: center;

    transition: .20s linear;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
    line-height: 50px;
}

.home{
	position: relative;
	top:50px;
	margin: 0px;
	padding:0px;
	width:100%;
	height:900px;
	background-color:#75FF7F;

    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.home .home_content{
	position:relative;
    text-align: center;
	margin:0px auto;
	padding:50px;
}

.home .home_content .home_title{
	position:relative;
	margin:0px auto;
	padding:50px;
}

.home .home_content .home_button{
	position:relative;
	line-height: 100px;
	margin:0px auto;
	padding:100px;
	
}

.about{
	position: relative;
    float:left;
    width:100%;
    height:900px;
    background-color:#DC98A1;
    margin:0px;


    background-image: url(./images/2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.about .about_intro{
    position: relative;
    margin-right:50px;
    padding:50px;
   /* background-color:#8CB1F0;*/
    float:left;
    top:5%;
    left:10%;
    width:40%;
    height:80%;
    text-align: center;
}

.about .about_pic{
	position:relative;
	margin:0px auto;
	padding:50px;
	float:left;
	top:5%;
	left:5%;
	height:80%;
	width:20%;
	/*background-color:#6078E1;*/
}

.profolio{
	position:relative;
	float:left;
	width:100%;
	height:900px;
/*	background-color:#93d6c3;*/
	margin:0px;


    background-image: url(./images/3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.profolio .profolio_project{
	position:relative;
	margin:30px auto;
	height:80%;
	width:80%;
    padding:50px;
	/*background-color: #B4ADAD;*/
}

.profolio .profolio-project-title{
	position: relative;
	margin:30px auto;
	padding:50px auto;
	width:100%;
	height:150px;
	text-align: center;
/*	background-color: #8B84EE;*/
}
.profolio .profolio_works{
	position:relative;
	margin:30px auto;
	padding:50px auto;
	width:100%;
	height:70%;
	text-align: center;
/*	background-color:#8E72E8;*/
}

.profolio .profolio_works .work1{
	position: relative;
	float:left;
	display: inline-block;
    vertical-align: middle ;

    top:20%;
    left:35%;
	background-color: #E884F1;
	margin:30px auto;
	padding:50px auto;
	width: 300px;
	height:200px;

}

.profolio .profolio_works .work1:hover{
	background-color: #A5F9B4;
}

.contact{
	position: relative;
	float:left;
	width:100%;
	height:800px;
	background-color:#C95CE0;
	margin:0px;


    background-image: url(./images/4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contact .contact_title{
	position: relative;
	float:left;
	margin: 20px;
	left:8%;
	width:80%;
	height:30%;
	background-color: #DAA3A3;
}

.contact .contact_button{
	position: relative;
	float:left;
	margin: 20px;
	left:8%;
	width:80%;
	height:50%;
	background-color: #AFCAEC;
}

.bottom{
	position: relative;
	float:left;
	width:100%;
	height:100px;
	background-color:#B5B8A9;
	margin:0px;
}
</style>